@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: normal;
  font-size: 14px;
  line-height: 18px;

  font-family: "PT Sans", "Arial", sans-serif;
  color: rgba(0,0,0,0.8);
  font-style: normal;
  background-color: rgba(255,255,255,0.9);
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  
  white-space: nowrap;
  
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.site-header {
  position: relative;
  
  font-size: 18px;
  line-height: 45px;
  color: #FFFFFF;
  
  background-color: rgba(28, 12, 1, 1);
}

.site-header__logo {
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -21px;
  
  display: block;
  padding-top: 5px;
  width: 43px;
  height: 48px;
}

.main-nav {
  min-height: 56px;
  
  background-color: rgba(28, 12, 1, 1);
}

.main-nav__list {
  margin: 0;
  padding: 0;
  
  list-style: none;
}
